<ion-header [translucent]="true">
    <!-- <ion-toolbar>
      <!-- Botón de retroceso -->
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/" icon="arrow-back"></ion-back-button>
      </ion-buttons>
  
      <!-- Botón de avance -->
      <ion-buttons slot="end">
        <ion-button (click)="avanzar()">
          <ion-icon name="arrow-forward"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header> -->
  


  <!-- ESTA PARTE NO ESTA IMPLEMENTADA, SE PLANEA IMPLEMENTAR EN UN FUTURO
  SON FLECHAS DE NAVEGACION ADELANTE Y ATRAS DENTRO DE LA APP MOVIL -->